extends extends/_layout

block content
	.console(data-console)
		.console__screen(data-screen="mainmenu")
			.console__title
				| Use arrows to choose
				br
				| Press Enter to select
			.menu(data-menu="main")
				.menu__item(data-action="game", data-level="1") Start game
				.menu__item(data-action="levels") Choose level
				.menu__item(data-action="theme") Choose theme
				.menu__item(data-action="info") How to play
		.console__screen.hidden(data-screen="levels")
			.console__title
				| Use arrows to choose
				br
				| Press Enter to select
			.menu(data-menu="levels")
				each _, i in Array(60)
					.menu__item&attributes({"data-level": i+1, "data-action": "game"})= i+1
		.console__screen.hidden(data-screen="theme")
			.console__title
				| Use arrows to choose
				br
				| Press Enter to select
			.menu(data-menu="theme")
				.menu__item(data-action="start") Classic
		.console__screen.hidden(data-screen="info")
			.console__title
				| Press Esc to exit to menu
			div
				| The player may move horizontally or vertically onto empty squares. The player can also move a box.
				| Boxes may not be pushed into other boxes, and they cannot be pulled.
				br
				| The puzzle is solved when all boxes are at storage locations.
				br
				br
				| @ — player
				br
				| + — box
				br
				| & — active box
				br
				| . — storage locations
				br
				| X — wall
		.console__screen.hidden(data-screen="game")
			.console__title
				| Use arrows to walk
				br
				| Press Esc to exit to menu and reset your all progress
			.console__title
				| Level #[span#js-sokoban-level 1]
				.console-stats
					span.console-stats__item Moves #[span#js-sokoban-moves 0]
					span.console-stats__item Pushes #[span#js-sokoban-pushes 0]
					span.console-stats__item Time #[span#js-sokoban-time 00:00:00]
			#js-sokoban-canvas.console__canvas
			#js-socoban-win.console__footer.hidden
				| Level complete!
				br
				| Press Enter for next level
			#js-socoban-finish.console__footer.hidden
				| Congratulations!
				br
				| You have finished all levels! Press Esc to exit to menu