@font-face
  font-family iconsFont
  font-style normal
  font-weight normal
  src s('url(../fonts/%s.woff)', iconsFont) format('woff'),
  s('url(../fonts/%s.svg)', iconsFont) format('svg'),
  s('url(../fonts/%s.ttf)', iconsFont) format('truetype')