@font-face
	font-family iconsFont
	font-style normal
	font-weight normal
	src s('url(../fonts/%s.woff2)', iconsFont) format('woff2'),
	s('url(../fonts/%s.woff)', iconsFont) format('woff'),
	s('url(../fonts/%s.ttf)', iconsFont) format('truetype')