html,
body
  overflow hidden

.iconed
  overflow hidden
  font-family iconsFont, monospace
  font-style normal
  text-rendering optimizeLegibility
  font-feature-settings 'liga' 1
  text-transform none
  -webkit-font-smoothing antialiased

.icon
  @extend .iconed
  vertical-align middle
  display inline-block