.console
	min-height 500px
	color #fff
	font-size 20px
	line-height 1.3
	font-family monospace
	background-color #1e1e1e
	padding 20px
	&__title
		margin-bottom 40px
	&__canvas
		letter-spacing 2px
		white-space pre

.menu
	&__item
		padding 4px 0
		&.active
			color #1e1e1e
			background-color #eee

.hidden
	display none