.console
  height 730px
  overflow hidden
  color #fff
  font-size 19px
  line-height 1.2
  font-family Monaco, Source Code Pro, monospace
  background-color #1e1e1e
  padding 20px 20px 10px
  position relative // to calc offsetParent
  &__title
    margin-bottom 20px
  &__canvas
    letter-spacing 2px
    white-space pre
  &__footer
    margin-top 20px

.console-stats
  &__item
    margin-right 15px
    vertical-align middle
    display inline-block
    &:last-child
      margin-right 0